* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
    margin: 0 auto;
}

.navigator {
  background-color: lightgrey;
  font: white;
  padding: 2rem;
  text-align: center;
}

#customers,
#orders,
#c-form,
#o-form {
  text-align: center;
}

img {
  max-height: 100px;
}

a {
  font-size: 22px;
  padding: 2rem;
  color: rgb(228,28,43)
}

h1 {
  font-size: 26px;
}

.inline-customers,
.inline-orders,
.inline-report {
  padding: 2rem;
  color: rgb(228,28,43);
  display: flex;
}

.row {
  display: flex;
}

span {
  font-size: 16px;
  padding: 0 2rem 0 2rem;
  flex-basis: 20%;
}

.pen {
  max-height: 1.5rem;

}

.hidden {
  display: none !important;
}

#new-entry,
#new-order{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: red;
  padding: 0.5rem;
  border-radius: 25%;
}

#c-form,
#o-form {
  margin-left: 3rem;
  margin-top: 2rem;
}
