* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  /* max-width: 700px; */
}

.navigator {
  background-color: lightgrey;
  font: white;
  padding: 2rem;
  text-align: center;
}

img {
  max-height: 100px;
}

a {
  font-size: 28px;
  padding: 2rem;
  color: rgb(228,28,43)

}

.inline-customers {
  padding: 2rem;
  color: rgb(228,28,43)
}

span {
  font-size: 22px;
  padding: 0 2rem 0 2rem;

}

.row {
  display: flex;
}

.row span {
  align-items:baseline;
}

.pen {
  max-height: 1.5rem;
  /* text-align: end; */
}

.hidden {
  display: none !important;
}

#new-entry, #new-order{
  margin-left: 3rem;
  margin-top: 2rem;
  background-color: red;
  padding: 1rem;
  border-radius: 10%;
}

#c-form {
  margin-left: 3rem;
  margin-top: 2rem;
}
